.venv
.env

src/data/*
src/masks/*
src/bboxes/*
src/train/*
src/dataset/train/*
src/dataset/val/*
path_planing/

src/models/*
src/yolo_seg_labels/*

src/runs/segment/*

.ipynb_checkpoints/
__pycache__/
*.zip
*.tar
*.tar.gz
*.h5
*.pkl