.venv
.env

model_core/data/*
model_core/masks/*
model_core/bboxes/*
model_core/train/*
model_core/dataset/train/*
model_core/dataset/val/*
model_core/models/*
model_core/yolo_seg_labels/*
model_core/runs/segment/*

path_planing/

.ipynb_checkpoints/
__pycache__/
*.zip
*.tar
*.tar.gz
*.h5
*.pkl
*.bag
*.pt
*.mp4
*.docx

!model_core/data/.gitkeep
!model_core/masks/.gitkeep
!model_core/bboxes/.gitkeep
!model_core/models/.gitkeep
!model_core/runs/segment/.gitkeep
!model_core/train/.gitkeep
!model_core/yolo_seg_labels/.gitkeep