.venv
.env

src/data/*
src/masks/*
src/bboxes/*
src/train/*
src/dataset/train/*
src/dataset/val/*
path_planing/

src/models/*
src/yolo_seg_labels/*

src/runs/segment/*

.ipynb_checkpoints/
__pycache__/
*.zip
*.tar
*.tar.gz
*.h5
*.pkl

!src/data/.gitkeep
!src/masks/.gitkeep
!src/bboxes/.gitkeep
!src/models/.gitkeep
!src/runs/segment/.gitkeep
!src/train/.gitkeep
!src/yolo_seg_labels/.gitkeep
ВКР. Глава 1.docx